list "temportalflux's Wishlist" {
	entry "Cork Yoga Blocks" {
		description ""
		quantity 1
		tag "Fitness"
		kind "Specific" {
			image "https://m.media-amazon.com/images/I/81e+DLpaYtL._AC_SX300_SY300_.jpg"
			offer "https://a.co/d/6hTV0Iy"
			cost_per_unit 30
		}
	}
	entry "Sourdough cookie book" {
		description ""
		quantity 1
		tag "Kitchen"
		kind "Specific" {
			image "https://s3.amazonaws.com/imgstage.wishlist.com/uploads/users/w_s3_4RzrBr.png"
			offer "https://www.southworthsourdough.com/product-page/for-the-loaf-of-cookies"
			cost_per_unit 20
		}
	}
}
