list "temportalflux's Wishlist" {
	entry "CustomItem" {
		description ""
		quantity 1
		kind "Specific" {
			offer ""
			cost_per_unit 0
		}
	}
	entry " Pasta rolling board" {
		description "https://a.co/d/c0Z6OMh"
		quantity 1
		tag "Kitchen"
		kind "Idea" {
			image "https://s3.amazonaws.com/imgstage.wishlist.com/uploads/users/w_s3_6543cbc810b37.jpeg"
			estimated_cost 20
		}
	}
	entry "Nordstick" {
		description ""
		quantity 1
		tag "Fitness"
		kind "Specific" {
			image "https://s3.amazonaws.com/imgstage.wishlist.com/uploads/users/w_s3_MzLPxZ.jpeg"
			offer "https://a.co/d/4vgI3zl"
			cost_per_unit 30
		}
	}
	entry "RAM (16GB)" {
		description ""
		quantity 1
		tag "Computer"
		kind "Specific" {
			image "https://m.media-amazon.com/images/I/71DeW7TfvyL._AC_SX679_.jpg"
			offer "https://www.amazon.com/dp/B07B4GNMS9/?coliid=I1OBLGI62U20PY&colid=2LZR2SJ3A62Q&ref_=list_c_wl_lv_ov_lig_dp_it&th=1"
			cost_per_unit 35
		}
	}
	entry "Tomorrow and Tomorrow and Tomorrow" {
		description ""
		quantity 1
		tag "Books"
		kind "Specific" {
			image "https://images-us.bookshop.org/ingram/9780593321201.jpg?height=500&v=v2-3559920d7919523c7314f5f676233858"
			offer "https://bookshop.org/p/books/tomorrow-and-tomorrow-and-tomorrow-gabrielle-zevin/17502475?ean=9780593321201"
			cost_per_unit 30
		}
	}
	entry "Wooden Bookshelf" {
		description "https://www.amazon.com/dp/B08JYXCF9B/?coliid=I1M26WCYM0M2S&colid=1PU1AKGSOBCVZ&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it"
		quantity 1
		tag "Home & Furniture"
		kind "Idea" {
			image "https://s3.amazonaws.com/imgstage.wishlist.com/uploads/users/w_s3_6543cab63f026.jpeg"
			estimated_cost 60
		}
	}
	entry "Brewing Spoons" {
		description ""
		quantity 1
		tag "Mead"
		kind "Specific" {
			image "https://s3.amazonaws.com/imgstage.wishlist.com/uploads/users/w_s3_651ca9d1e4218.jpeg"
			offer "https://a.co/d/jk0Qg7i"
			cost_per_unit 12
		}
	}
	entry "Fermenting Siphon" {
		description ""
		quantity 1
		tag "Mead"
		kind "Specific" {
			image "https://m.media-amazon.com/images/I/71LhIXO560L._AC_SX679_.jpg"
			offer "https://a.co/d/1PStOPB"
			cost_per_unit 18
		}
	}
	entry "Fermenting Jug Kit" {
		description ""
		quantity 1
		tag "Mead"
		kind "Specific" {
			image "https://s3.amazonaws.com/imgstage.wishlist.com/uploads/users/w_s3_651ca8337bd91.jpeg"
			offer "https://a.co/d/jb90fXi"
			cost_per_unit 30
		}
	}
	entry "Dough Scraper" {
		description "https://a.co/d/eK2rzXa"
		quantity 1
		tag "Kitchen"
		kind "Idea" {
			image "https://s3.amazonaws.com/imgstage.wishlist.com/uploads/users/w_s3_kmAJrV.jpeg"
			estimated_cost 10
		}
	}
	entry "Cork Yoga Blocks" {
		description ""
		quantity 1
		tag "Fitness"
		kind "Specific" {
			image "https://m.media-amazon.com/images/I/81e+DLpaYtL._AC_SX300_SY300_.jpg"
			offer "https://a.co/d/6hTV0Iy"
			cost_per_unit 30
		}
	}
	entry "Sourdough cookie book" {
		description ""
		quantity 1
		tag "Kitchen"
		kind "Specific" {
			image "https://s3.amazonaws.com/imgstage.wishlist.com/uploads/users/w_s3_4RzrBr.png"
			offer "https://www.southworthsourdough.com/product-page/for-the-loaf-of-cookies"
			cost_per_unit 20
		}
	}
}
